<div class="masthead">

  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javasctipy</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </nav>

  <img class="logo" src="assets/AA_Times_Logo.png" alt="AA Times">

  <ul class="masthead-links">
    <li>
      <time>
        Tuesday, October 18, 2016
      </time>
    </li>
    <li>
      <a href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Today's Paper</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-video-camera" aria-hidden="true"></i>Video</a>
    </li>
    <li>
      <button>77°F</button>
    </li>
    <li>
      <button>AA0 <strong>+100%</strong></button>
    </li>
  </ul>

</div>
