<h1>Sign Up</h1>

<form class="" action="/users" method="post">
  <%= auth_token %>

  <label for="user_username">Username
      <input id="user_username" type="text" name="user[username]" value="">
  </label>

  <label for="user_password">Password
      <input id="user_password" type="password" name="user[password]" value="">
  </label>

  <input type="submit" name="" value="Sign Up">

</form>
