<h1>Log In!</h1>

<form action="/session" method="post">
  <%= auth_token %>

  <label for="user_email">Email: </label>
  <input type="email" name="user[email]" id="user_email">

  <br>

  <label for="user_password">Password: </label>
  <input type="password" name="user[password]" id="user_password">

  <br>
  <br>

  <input type="submit" class="button_to" value="Log In">
</form>
