<h1>New Sub</h1>

<form class="" action="/subs" method="post">
  <%= auth_token %>

  <label for="sub_title">Title
      <input id="sub_title" type="text" name="sub[title]" value="">
  </label>

  <label for="sub_description">Description
      <input id="sub_description" type="text" name="sub[description]" value="">
  </label>

  <input type="submit" name="" value="Create Sub">

</form>
