<h1>All Cats!</h1>
<ul>
<% @cats.each do |cat| %>
  <li><%= cat.name %>
  <%= link_to 'show cat', cat_url(cat) %></li>
<% end %>
</ul>

<%= link_to 'new cat', new_cat_url %>

<br>

<%= link_to 'rent a cat', new_cat_rental_request_url %>
