<h1>Create a band</h1>

<form class="" action="/bands" method="post">
  <%= auth_token %>

  <label for="band_name">Name of band</label>
  <input type="text" name="band[name]" id="band_name" value="">

  <br>

  <input type="submit" class="button_to" value="Create Band">
</form>
